 body {
    font-family: Sans-Serif;
}
.content {
  max-width: 800px;
  margin: auto;
}

a { color: #333; }


.image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

.image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 10%; // arbitrary
    position: relative;
    z-index: 1;
}

.image-stack__item--bottom {
    float: right;
    width: 55%;
}

@media (max-width: 800px){
  .image-stack__item--top {
      padding-top: 0%;
      float: left;
      width: 100%;
  }

  .image-stack__item--bottom {
      display: none;
  }


}

img {
  width: 100%;
}
